.list_main {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
}

.list_back_btn {
  display: flex;
}

.list_back_btn h6 {
  display: flex;
  margin: 0;
}

.list_back_btn:hover {
  cursor: pointer;
}

.list_table {
  display: flex;
  margin-top: 20px;
}

.lists_info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 40px;
}

.lists_info h2 {
  margin: 0;
}
